{% if user.is_authenticated %}
<div class="login-message">
  Your are logged in with 
  {{ request.user.username }}. 
  <a href="{% url 'profiles:dashboard' %}">See your task</a>,
  <a href="{% url 'profiles:dashboard_task_new' %}">create a new task</a> or
  <form class="inline-form" action="{% url 'profiles:logout' %}" method='POST'>
    {% csrf_token %}
    <input type="hidden" name="username" value="{{ request.user.username }}">
    <button class="plaintext-button" type="submit">click here</button>
  </form> to logout.
</div>
{% endif %}